@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/Images/bv2.jpg" alt="Hình ảnh bệnh viện" style="width:580px;height:600px;" />
</div>
